:root{
  font-size: 16px;

  --text-prim: #b6b6b6;
  --text-sec: #ececec;
  --bg-prim: #23232e;
  --bg-sec: #141418;
}



/* Head */

* {
    box-sizing: border-box;
    
}
.logo{

}
header{
  
}
.menu{

}

/* Body */

body{
  width: 1200px;
  background-color: var(--text-prim);
}
section{

}

#menu{

}
.menuitem{
  border: 30px white thick;
  padding: 40px;
  margin: 20px;
}


@media  screen and (min-width:400px) {
  
}

@media  screen and (min-width:600px) {
  
}

@media  screen and (min-width:800px) {
  
}

@media  screen and (min-width:1000px) {
  
}

@media  screen and (min-width:1200px) {
  
}

@media  screen and (min-width:1600px) {
  
}