

/* Head */

* {
    box-sizing: border-box;
}
.logo{

}
header{
  display: block;
  border: thick 3px  seagreen; 
  border-radius: 4px; 
}
.menu{

}

/* Body */

body{
background-color: darkgray;
}
section{

}

@media  screen and (min-width:400px) {
  
}

@media  screen and (min-width:600px) {
  
}

@media  screen and (min-width:800px) {
  
}

@media  screen and (min-width:1000px) {
  
}

@media  screen and (min-width:1200px) {
  
}

@media  screen and (min-width:1600px) {
  
}