:root {
  --bg-primary: #e20000;
  --text-primary: #ffffff;
}

body.light-theme {
  --bg-primary: #b0a7ff;
  --text-primary: #000000;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  transition: background 0.3s, color 0.3s;
}
